body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Root-level container that controls Flexbox for Flightpath Panel and Map */
#ui-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

#flight-paths-panel {
  min-width: 20rem;
  overflow: scroll;
  margin-bottom: 1rem;
}

#flight-paths-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.selected {
  font-weight: 800;
  background-color: aliceblue;
}

.flight-path {
  text-align: left;
  text-overflow: ellipsis;
  margin-top: 0.5rem;
  margin-left: 1.5rem;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
